.about-section {
  background-color: #000;
  color: #fff;
  height: 87vh;
  width: 100vw;

  .about-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
  }

  .about-text {
    padding-left: 20px;
    h2 {
      font-size: 2.5rem;
    }

    p {
      line-height: 1.6;
      font-size: 1rem;
    }
  }

  .about-image {
    text-align: center;

    img {
      max-width: 90%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    }
  }
}

@media (max-width: 768px) {
  .about-section {
    padding: 0;
    margin: 0;

    .about-container {
      padding-top: 12vh;

      flex-direction: column;
      text-align: center;
      justify-content: start;

      .about-text {
        padding-left: 20px !important;

        h2 {
          font-size: 1.5rem;
        }

        p {
          line-height: 1.6;
          font-size: 0.7rem;
        }
      }

      .about-image {
        flex: unset;
        text-align: center;

        img {
          max-width: 70%;
          margin-top: 30px;
          height: auto;
          border-radius: 10px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
