.connect-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;

  .form-container {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    text-align: center;

    h2 {
      color: #fff;
      font-size: 2rem;
      margin-bottom: 30px;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      input,
      textarea {
        background-color: #292929;
        border: 1px solid #444;
        padding: 15px;
        font-size: 1rem;
        color: #fff;
        border-radius: 8px;
        margin-bottom: 15px;
        width: 100%;
        outline: none;
      }

      input::placeholder,
      textarea::placeholder {
        color: #888;
      }

      input:focus,
      textarea:focus {
        border-color: #777;
      }
    }

    .submit-btn {
      background-color: #b3ff00;
      color: #000;
      border: none;
      padding: 15px;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #aaff00;
      }
    }
  }
}
