<nav class="navbar">
  <div class="navbar-content">
    <a class="logo" routerLink="/">Filip</a>
    <button class="burger-menu" (click)="toggleMenu()">
      <span [ngClass]="{ open: isMenuOpen }"></span>
    </button>
    <div class="nav-links" [ngClass]="{ open: isMenuOpen }">
      <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a>
      <a routerLink="/work" routerLinkActive="active" (click)="closeMenu()"
        >Work</a
      >
      <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()"
        >About</a
      >
      <a routerLink="/connect" routerLinkActive="active" (click)="closeMenu()"
        >Connect</a
      >
    </div>
  </div>
</nav>
