<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <p>© 2024 Filip. All rights reserved.</p>
    </div>
    <div class="footer-right">
      <p>Follow Me On:</p>
      <ul class="social-icons">
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
